
*{
	margin: 0px;
	padding: 0px;
}
.navbar-default .navbar-brand{
	font-size: 30px;
	font-weight: bold;
	color: #45d3b3;	
}
.navbar-default .navbar-nav >li>a{
	font-size: 16px;
	font-weight: bold;
	color: #666693;
	line-height: 35px;
	height: 70px;
}
.navbar-default .navbar-toggle:hover{
	background-color:#45d3b3;
}
.navbar{
	margin-bottom: 0px;
}
#home{
	width: 100%;
	background-image: url(../img/home-bg.jpg);
	background-size: cover;
	color: #fff;
	text-align: center;
}
#home .mengban{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	padding: 20px 0px 100px;
}
#home h1{
	font-weight: bold;
	font-size: 30px;
	margin: 20px auto;
}
#home p{
	font-weight: bold;
	line-height: 30px;
}
#home img{
	margin-top: 30px;
	display: inline-block;
}
/*center部分*/
.center{
	text-align:center;
	padding: 100px 0px;
}
.center1{
	padding: 100px 0px;
	background-color: #d3d3d3;
}
.center2{
	padding: 100px 0px;
}
.center3{
	background-color: #d3d3d3;
}
.center3 .container .col-sm-12{
	text-align: center;
	padding: 50px 0px;
	
}
.center3 .container .col-sm-3 .jiaru{
	text-align: center;
	background-color: white;
	margin: 0px 0px 20px 0px;
}
.center3 .container .col-sm-3 .jiaru a{
	display: block;
	padding: 15px 0px;
	color: darkseagreen;
}
.center3 .container{
	padding-bottom: 70px;
}
.center3 .container .col-sm-3 .jiaru span{
	padding: 5px 20px;
	color: darkseagreen ;
	border: 1px solid  darkseagreen;
}
.center4{
	padding: 100px 0px;
}
.center4  .container .col-sm-6 a{
	display:inline-block;
	margin-top: 10px;
}
.center4  .container .col-sm-6 h2{
	padding-bottom: 20px;
}
.center4  .container .col-sm-6 img{
	margin-top: 10px;
}
.center5{
	background-image: url(../img/contact-bg.png);
	background-size: cover;
	
}
.center5 .mb{
	background: rgba(0,0,0,0.7);	
	padding: 100px 0px;
}
.center5 span{
	display: block;
}
.center5 span h2{
	display: inline-block;
}
.center5 span img{
	margin-bottom: 12px;
}
.center5{
	color: white;
}
.center5 .col form input{
	width: 100%;
	height: 45px;
	border: 0px ;
	border-radius: 5px;
	padding-left: 10px;
	color: black;
}
.center5 .col form .col-sm-6 , .col-sm-12{
	margin-top: 20px;
}
.center5 .col form .sub input{
	background-color: #3fd1b0;
}
.center6{
	width: 100%;
	height: 100px;
	line-height: 50px;
	background-color: black;
	text-align: center;
}
